<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheet/style.css'>
  </head>

  <body>
    <h1>
      <%=title%>
    </h1>
    <p>
      Welcome to <%= title%>
    </p>

    <p id="client-count">
      Hello???
    </p>
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/main/main.js"></script>
</html>
